body {
    font-family: 'Vazir', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #007bff;
    padding: 15px;
}

.navbar .navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.hero {
    text-align: center;
    padding: 50px;
}
